
.header {
    -fx-background-color: #0D4C92;
}
.body{
    -fx-background-color: #CFF5E7; 
}
.body_tab{
    -fx-background-color: #bafbff;
    -fx-border-color:#59e1ff;
    -fx-border-width: 0px 3px 3px 0px;
}
Label {
    -fx-font-size: 15px;
}

Label.lbHeader{
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

Label.lbTitle{
    -fx-font-size: 25px;
    -fx-font-weight:bold;
    -fx-text-fill: #0598ff;
}

.txtLogin, .btnLogin, .btnBut{
    -fx-font-size: 20px;
    -fx-font-weight:bold;
    -fx-border-color: #0598ff;
}
.btnLogin, .btnBut {
    -fx-background-color: #0598ff;
    -fx-text-fill: white;
}

.txtLogin{
    -fx-border-width: 0px 0px 3px 0px;
}
.btnLogin:hover, .btnBut:hover {
    -fx-font-size: 22px;
    -fx-background-color: #43A047;
}